<ion-header>
    <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button routerLink="/about">
            <ion-icon name="information-circle"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Ionic 4 start a2</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
    Learning app 
    <p>Ionic 4 documentation: <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a></p>

<ion-button routerLink="/choose-mode" routerDirection="forward" expand="block" size="large">choose mode</ion-button>

</div>
</ion-content>
